<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Receipt</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'category_list' %}">Receipts List</a></li>
            <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
            <li><a href="{% url 'receipts_list' %}">Category List</a></li>
            <li><a href="{% url 'create_category' %}">Create Category</a></li>
            <li><a href="{% url 'account_list' %}">Account List</a></li>
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
        </ul>
    </nav>


<main>

    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            <label for="vendor">Vendor:</label>
            <input type="text" name="vendor" id="vendor" required>

            <label for="total">Total:</label>
            <input type="number" name="total" id="total" required>

            <label for="tax">Tax:</label>
            <input type="number" name="tax" id="tax" required>

            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required>

            <label for="account">Account:</label>
            <select name="account" id="account">
            </select>

            <label for="category">Category:</label>
            <select name="category" id="category">
            </select>

            <button type="submit">Create</button>
        </form>
    </div>
</main>
</body>
</html>
